{% extends 'base.html.twig' %}

{% block title %} Create Review {% endblock %}

{% block body %}

<div class="d-flex p-4 flex-column justify-content-center align-items-center">
    <div class="container-fluid">
        <label class="py-2" for="{{ field_name(form.title) }}">{{ field_label(form.title)}}:</label>
        <input
        name="{{ field_name(form.title) }}"
        value="{{ field_value(form.title) }}"
        placeholder="{{ field_label(form.title) }}"
        class="form-control py-2"
        ></input>
    </div>
    <div class="container-fluid">
        <label class="py-2" for="{{ field_name(form.author) }}">{{ field_label(form.author)}}:</label>
        <input
        name="{{ field_name(form.author) }}"
        value="{{ field_value(form.author) }}"
        placeholder="{{ field_label(form.author) }}"
        class="form-control py-2"
        ></input>
    </div>
    <div class="container-fluid">
        <label class="py-2" for="{{ field_name(form.pages) }}">{{ field_label(form.pages)}}:</label>
        <input
        name="{{ field_name(form.pages) }}"
        type="number"
        value="{{ field_value(form.pages) }}"
        placeholder="{{ field_label(form.pages) }}"
        class="form-control py-2"
        ></input>
    </div>
     <div class="container-fluid">
        <label class="py-2" for="{{ field_name(form.review_text) }}">{{ field_label(form.review_text)}}:</label>
        <input
        name="{{ field_name(form.review_text) }}"
        value="{{ field_value(form.review_text) }}"
        placeholder="{{ field_label(form.review_text) }}"
        class="form-control py-2"
        ></input>
    </div>
     <div class="container-fluid">
        <label class="py-2" for="{{ field_name(form.summary) }}">{{ field_label(form.summary)}}:</label>
        <textarea
        name="{{ field_name(form.summary) }}"
        value="{{ field_value(form.summary) }}"
        placeholder="{{ field_label(form.summary) }}"
        class="form-control py-2"
        ></textarea>
    </div>
    <button class="btn btn-success m-4 align-self-start" type="submit">Submit</button>
</div>


{% endblock %}